{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>
<body>
<a href="{% url 'home' %}" class="btn">
    Back to List
</a>
<h4>Cart:</h4>
<div style="margin-bottom: 20px;">
    <a href="{% url 'clean_all_cart' %}" class="btn" style="background-color: red; color:white; text-decoration: none">Clean
        Cart</a>
</div>

<div class="products_container">
    {% for product in cart_products %}
        <div class="product_card" style="padding: 5px">
            <a href="">{{ product.title }}</a>
            <div class="product_card-controls" style="display: flex; justify-content: space-between">
                <a href="{% url 'product_detail' product_pk=product.pk %}" class="btn" style="text-decoration: none">View
                    detail</a>
                <a href="{% url 'delete_product_from_cart' product_pk=product.pk %}" class="btn"
                   style="text-decoration: none">Delete</a>
            </div>
        </div>
    {% endfor %}
</div>

<div style="margin-top: 20px;">
    <a href="{% url 'order_products' %}" class="btn"
       style="background-color: green; color:white; text-decoration: none">Order</a>
</div>
</body>
</html>