{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>
<body>

<div class="header">
    <div class="categories">
        <h2>Categories</h2>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'product_list_by_category' category_pk=category.pk %}">{{ category.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card">
        <a href="">CARD</a>
    </div>
</div>

<h4>Products:</h4>
<div class="products_container">
    {% for product in products %}
        <div class="product_card" style="padding: 5px">
            <a href="">{{ product.title }}</a>
            <div class="product_card-controls">
                <a href="{% url 'product_detail' product_pk=product.pk %}" class="btn">View detail</a>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>