{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>
<body>
<a href="{% url 'home' %}" class="btn">
    Back to Home
</a>
<h4>The most popular product:</h4>

<div style="display: flex; flex-direction: column; gap: 4px">
    {{ most_popular_product }}
</div>
</body>
</html>