{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>
<body>
<a href="{% url 'home' %}" class="btn">
    Back to List
</a>
<h2>Categories</h2>
<ul>
    {% for category in categories %}
        <li>
            <a href="{% url 'product_list_by_category' category_pk=category.pk %}">{{ category.title }}</a>
        </li>
    {% endfor %}
</ul>
<h4>Product detail:</h4>
<div class="product_detail">
    <span>Product name: {{ product.title }}</span>
    <span>Product description: {{ product.description }}</span>
    <span>Product price: {{ product.price }}</span>
    <div style="margin-top: 10px">
        <a href="{% url 'add_product_to_cart' product_pk=product.pk %}" class="btn">
            Add to Cart
        </a>
        <a href="{% url 'get_cart' %}" class="btn">
            Follow to Cart
        </a>
    </div>
</div>
</body>
</html>